<!-- <div class="sidenav">
  <a href="#about">Dashboard</a>
  <a href="#about">Usuarios</a>
  <a href="#about">Actividades</a>
  <a href="#services">Deportes</a>
  <a href="#clients">Participantes</a>
  <a href="#clients">Mensajes</a>
  <a href="#clients">Contacto</a>
  <a href="#clients">Log Actividad</a>
</div> -->

<div class="navbar navbar-light bg-light">
  <ul class="navbar-nav ms-4 h5"> <!--me-auto mb-lg-0-->
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}"
        >Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/usuarios']"
        [routerLinkActive]="['active']"
        >Usuarios
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/actividades']"
        [routerLinkActive]="['active']"
        >Actividades
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/deportes']"
        [routerLinkActive]="['active']"
        >Deportes
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/participantes']"
        [routerLinkActive]="['active']"
        >Participantes
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/mensajes']"
        [routerLinkActive]="['active']"
        >Mensajes
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/contacto']"
        [routerLinkActive]="['active']"
        >Contacto
      </a>
    </li>
  </ul>
</div>

<!-- <ul class="nav flex-column bg-light">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>


<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">

    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/inicio']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          >Inicio
      </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/actividades']"
          [routerLinkActive]="['active']"
          >Actividades
        </a>
      </li>

    </ul>

  </div>
</nav>

<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
  <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Profile</a>
  <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a>
  <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
</div> -->




<!-- https://zoaibkhan.com/blog/create-a-responsive-sidebar-menu-with-angular-material/ -->
  <!-- <mat-sidenav class="mat-elevation-z8">
    sdfsdf
    <button mat-button class="menu-button">

      <span>Home</span>
  </button>
  <button mat-button class="menu-button">

      <span>Profile</span>
  </button>
  <button mat-button class="menu-button">

      <span>About</span>
  </button>

  </mat-sidenav> -->

