
<div class="navbar navbar-light mat-elevation-z8">
  <ul class="navbar-nav ms-4 h5"> <!--me-auto mb-lg-0-->
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin']"
        [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{exact: true}"
        >Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/usuarios']"
        [routerLinkActive]="['active']"
        >Usuarios
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/actividades']"
        [routerLinkActive]="['active']"
        >Actividades
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/deportes']"
        [routerLinkActive]="['active']"
        >Deportes
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/participantes']"
        [routerLinkActive]="['active']"
        >Participantes
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/mensajes']"
        [routerLinkActive]="['active']"
        >Mensajes
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/contacto']"
        [routerLinkActive]="['active']"
        >Contacto
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        [routerLink]="['/admin/logs']"
        [routerLinkActive]="['active']"
        >Logs
      </a>
    </li>
  </ul>
</div>
