.btn {
  width: 150px !important;
}
/*
.titulo-listado {
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* h5 {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
} */
