
<div class="container">
<!-- [routerLink]="['/sports', evento.id]" -->

  <div class="card mb-4 mt-2">
    <div class="card-header text-white bg-primary d-flex align-items-center">
      <h5 class="mb-0 me-auto">Filtrado de Actividades</h5>
      <!-- <div class="card-header-actions">
        <div class="card-header-btn-minimize">
          <i class="icon-arrow-up"></i>
        </div>
      </div> -->
      <button class="btn btn-light me-2 filtros" (click)="reiniciar()">
        Reiniciar
      </button>
      <button class="btn btn-light filtros" (click)="filtrar()">
        Filtrar
      </button>
    </div>

    <div class="card-body bg-white">
      <div class="row">
        <div class="col-md-3">
          <label for="titulo" class="form-label">Título</label>
          <input
            type="text"
            class="form-control"
            name="titulo"
            [(ngModel)]="filtro.titulo"
            placeholder="Introduce un titulo"
          >
        </div>
        <div class="col-md-3">
          <label for="deporte" class="form-label">Deporte</label>
          <!-- TODO: Cargar deportes API, o completar con más deportes -->
          <select
            name="deporte" id="deporte"
            class="form-select"
            [(ngModel)]="filtro.deporte"
          >
            <option value="null" disabled selected hidden> - Seleccionar -</option>
            <option value="1">Pádel</option>
            <option value="2">Tenis</option>
            <option value="3">Senderismo</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="fecha_inicio" class="form-label">Fecha Inicio</label>
          <div>
            <input
              type="date"
              class="form-control"
              name="fecha_inicio"
              [(ngModel)]="filtro.fecha_inicio"
            >
          </div>
        </div>
        <div class="col-md-3">
          <label for="fecha_fin" class="form-label">Fecha Fin</label>
          <div>
            <input
              type="date"
              class="form-control"
              name="fecha_fin"
              [(ngModel)]="filtro.fecha_fin"
            >
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="card-footer d-flex justify-content-end bg-white">
      <button class="btn btn-primary px-4 me-2" (click)="reiniciar()">
        Reiniciar
      </button>
      <button class="btn btn-primary px-4" (click)="filtrar()">
        Filtrar
      </button>
    </div> -->
  </div>

  <!-- <div class="d-flex justify-content-center mb-4">
    <a [routerLink]="['/actividades/nuevo']" class="btn btn-primary">Crear actividad</a>
  </div> -->

  <!-- <li class="list-group-item active">
    Participantes ({{actividad.participantes.length}}<span *ngIf="actividad.deporte.max_participantes">/{{actividad.deporte.max_participantes}}</span>)
  </li> -->

  <div class="d-flex justify-content-between align-items-center list-group-item bg-primary mb-2">
    <h5 class="text-white mb-0">Listado de Actividades</h5>
    <a [routerLink]="['/actividades/nuevo']" class="btn btn-light nuevo">Crear Actividad Nueva</a>
  </div>

  <!-- list-group-item -->
  <div class="d-flex justify-content-center" *ngFor="let evento of eventos">
    <div class="card mb-2" style="width: 100%;">
      <div class="row">
        <div class="col-md-3">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgUNaoFwOOa3sOnMoc8CVUJ65bhS822etxVQ&usqp=CAU" alt="Imagen evento">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title">{{evento.titulo}}</h5>
            <p class="card-text">{{evento.deporte.nombre}}</p>
            <p class="card-text">{{evento.fecha | date:'dd/MM/y H:mm'}}</p>
            <p class="card-text">{{evento.direccion}}</p>
            <!-- <p class="card-text">{{evento.descripcion}}</p> -->
            <p class="card-text">Mostrar nº participantes, o plazas si hay max? Pinchar en card->detalles</p>
            <a [routerLink]="['/actividades', evento.id]" class="btn btn-primary">Detalles</a><!-- .stretched-link -->
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <div class="mb-4 mt-4 row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4" *ngIf="events.length" @animatedList>
  <sv-event-card class="col" @animateList *ngFor="let event of events | eventsFilter:search" [event]="event" (deleted)="delete(event)"></sv-event-card>
</div> -->

<!-- <div class="card shadow" id={{event.id}}>
  <a *ngIf="!isDetails; else notDetails2" [routerLink]="['/events', event.id]">
    <img class="card-img-top" src="{{event.image}}" />
  </a>
  <ng-template #notDetails2><img class="card-img-top" src="{{event.image}}" /></ng-template>
  <div class="card-body">
    <h4 class="card-title text-primary">
      <a *ngIf="!isDetails; else notDetails" class="text-decoration-none" [routerLink]="['/events', event.id]">{{event.title}}</a>
      <ng-template #notDetails>{{event.title}}</ng-template>
    </h4>
    <p class="card-text">{{event.description}}</p>
    <div class="row">
      <div class="col" *ngIf="event.mine">
        <button
          class="btn btn-danger"
          [swal]="{
            title: 'Are you sure?',
            text: 'It will be deleted from the database.',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No'
          }"
          (confirm)="delete()">
          Delete
        </button>
        <a class="btn btn-primary ms-1 px-4 text-white" *ngIf="isDetails" [routerLink]="['/events', event.id, 'edit']">
          Edit
        </a>
      </div>
      <div class="col-auto ms-auto">
        <div class="text-end attend-users">
          <fa-icon [icon]="['fas', 'users']"></fa-icon> {{event.numAttend}}
        </div>
        <div class="text-success text-end m-0 btn attend-button" *ngIf="event.attend" (click)="attendance()">
          <fa-icon [icon]="['fas', 'thumbs-up']"></fa-icon> I'm going
        </div>
        <div class="text-danger text-end m-0 btn attend-button" *ngIf="!event.attend" (click)="attendance()">
          <fa-icon [icon]="['fas', 'thumbs-down']"></fa-icon> Not going
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-muted row m-0">
    <div class="avatar col-auto pl-1 pr-1">
      <a [routerLink]="['/users', event.creator!.id]">
        <img src="{{event.creator!.avatar}}" class="rounded-circle" />
       </a>
    </div>
    <div class="col">
      <div class="name">
        <a [routerLink]="['/users', event.creator!.id]" class="text-decoration-none">
          {{event.creator!.name}}
        </a>
        <div><small class="text-muted">{{event.date | date:'dd/MM/y H:mm'}}</small></div>
      </div>
    </div>
    <div class="col-auto text-end text-muted">
      <div><small>{{event.price | currency:'EUR':'symbol'}}</small></div>
      <div><small>{{event.distance | number: '1.2-2'}} km</small></div>
    </div>
  </div>
</div> -->
