/* .card-footer .btn {
  width: 150px !important;
} */

.filtros{
  width: 150px !important;

}


.nuevo{
  width: 300px !important;

}

/* .card {
  width: 100%;
}

.card img {
  width: 100%;
  max-width: 200px;
}

.card .btn {
  width: 140px !important;
}

.card img:hover, .card h5:hover {
  cursor: pointer;
} */
