
<div class="container-fluid pb-2">
  <div class="row">
    <div class="col-2 mt-4" id="sticky-sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col mt-4">

      <div class="card mb-4 mat-elevation-z8">
        <div class="card-header text-white bg-primary d-flex align-items-center">
          <h5 class="mb-0 me-auto">Filtrado de Usuarios</h5>
          <button class="btn btn-light me-2 btn-filtros" (click)="reiniciar()">
            Reiniciar
          </button>
          <button class="btn btn-light btn-filtros" (click)="filtrar()">
            Filtrar
          </button>
        </div>

        <div class="card-body bg-white">
          <div class="row">
            <div class="col-md-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                name="nombre"
                [(ngModel)]="filtro.nombre"
                placeholder="Introduce un nombre"
              >
            </div>
            <div class="col-md-3">
              <label for="email" class="form-label">Email</label>
              <input
                type="text"
                class="form-control"
                name="email"
                [(ngModel)]="filtro.email"
                placeholder="Introduce un email"
              >
            </div>
            <div class="col-md-3">
              <label for="rol" class="form-label">Rol</label>
              <select
                name="rol" id="rol"
                class="form-select"
                [(ngModel)]="filtro.rol"
              >
                <option value="null" disabled selected hidden> - Seleccionar -</option>
                <option value="admin">Admin</option>
                <option value="user">Usuario</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="activo" class="form-label">Activo</label>
              <select
                name="activo" id="activo"
                class="form-select"
                [(ngModel)]="filtro.activo"
              >
                <option value="null" disabled selected hidden> - Seleccionar -</option>
                <option value="true">Sí</option>
                <option value="false">No</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="mat-elevation-z8">
        <div class="d-flex justify-content-between align-items-center list-group-item bg-primary">
          <h5 class="text-white mb-0">Listado de Usuarios</h5>
          <a [routerLink]="['/admin/usuarios/nuevo']" class="btn btn-light btn-nuevo">Nuevo Usuario</a>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="w-100">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
          </ng-container>

          <ng-container matColumnDef="avatar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Avatar </th>
            <td mat-cell *matCellDef="let element"> {{element.avatar}} </td>
          </ng-container>

          <ng-container matColumnDef="latitude">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Latitud </th>
            <td mat-cell *matCellDef="let element"> {{element.latitude}} </td>
          </ng-container>

          <ng-container matColumnDef="longitude">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Longitud </th>
            <td mat-cell *matCellDef="let element"> {{element.longitude}} </td>
          </ng-container>

          <ng-container matColumnDef="activated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Activo </th>
            <td mat-cell *matCellDef="let element"> {{element.activated | booleano}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas;" (click)="irDetalles(row)"></tr>
        </table>

      </div>
    </div>
  </div>
</div>
