<div class="container pb-2">
  <form class="mt-4 p-4 white" #mensajeForm="ngForm">
    <h4>Nuevo Mensaje</h4>
    <hr class="mt-0">
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="actividades" class="form-label h6">Selecciona la actividad donde realizar el comentario:</label>
        <div>
          <select
            name="actividades" id="actividades"
            class="form-select"
            [(ngModel)]="actividad"
            required
          >
            <!-- <option value="" disabled selected hidden>- Seleccionar -</option> -->
            <option *ngFor="let item of actividades" [ngValue]="item">[{{item.id}}] {{ item.titulo }}</option>
          </select>
        </div>
      </div>
    </div>

    <ul class="list-group mb-4">
      <li class="list-group-item active h5 mb-0">Comentarios</li>
      <li class="list-group-item white" *ngFor="let comentario of actividad.comentarios">
        <div class="row">
          <div class="col-auto text-center user-info">
            <a [routerLink]="['/usuarios', comentario.user_id]">
              <img class="avatar rounded-circle" style="width: 80px;" src="{{urlAlmacenamiento}}{{comentario.autor.avatar}}" />
            </a>
            <div>
              <a [routerLink]="['/usuarios', comentario.user_id]" class="text-decoration-none">{{comentario.autor.name}}</a>
            </div>
            <div><small>{{comentario.created_at | date:'dd/MM/y H:mm'}}</small></div>
          </div>
          <div id="text" class="col"
          [innerText]=comentario.mensaje>
          </div>
        </div>
      </li>
    </ul>

    <form>
      <span class="list-group-item active h5 mb-0">Nuevo comentario:</span>
      <textarea
        class="form-control"
        name="comment"
        [(ngModel)]="nuevoComentario"
        required
        rows="4"
      ></textarea>
    </form>

    <div class="d-flex mt-2">
      <a class="btn btn-secondary me-2 px-5" [routerLink]="['/admin/mensajes']" role="button">
        Volver
      </a>
      <button class="btn btn-primary px-5" (click)="nuevoMensaje()">
        Crear
      </button>
    </div>

  </form>
</div>

