<div class="container">
  <form class="mt-4" #userForm="ngForm">

    <legend *ngIf="!user.id">Creación nuevo usuario</legend>
    <legend *ngIf="user.id">Editar usuario {{user.name}}</legend>

    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <div>
        <input
          type="text"
          class="form-control"
          name="nombre"
          placeholder="Nombre"
          [(ngModel)]="user.name"
          #nameModel="ngModel"
          pattern="[A-Za-z][A-Za-z\s]*"
          [ngClass]="validClasses(nameModel, 'is-valid', 'is-invalid')"
          required
        />
        <div class="invalid-feedback" *ngIf="nameModel.errors?.['required']">
          El nombre es obligatorio.
        </div>
        <div class="invalid-feedback" *ngIf="nameModel.errors?.['pattern']">
          El nombre debe incluir sólo letras y espacios.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <div>
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="Email"
          [(ngModel)]="user.email"
          #emailModel="ngModel"
          pattern="^\S+@\S+\.\S+$"
          [ngClass]="validClasses(emailModel, 'is-valid', 'is-invalid')"
          required
        />
        <div class="invalid-feedback" *ngIf="emailModel.errors?.['required']">
          El Email es obligatorio.
        </div>
        <div class="invalid-feedback" *ngIf="emailModel.errors?.['pattern']">
          El email debe tener un formato válido.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña:</label>
      <div>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Contraseña"
          [(ngModel)]="user.password"
          #passwordModel="ngModel"
          minlength="6"
          [ngClass]="validClasses(passwordModel, 'is-valid', 'is-invalid')"
          [required]="nuevoUsuario"
        />
        <div class="invalid-feedback" *ngIf="passwordModel.errors?.['required']">
          La contraseña es obligatoria.
        </div>
        <div class="invalid-feedback" *ngIf="passwordModel.errors?.['minlength']">
          La contraseña debe contener al menos 6 caracteres.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Repite Contraseña:</label>
      <div>
        <input
          type="password"
          class="form-control"
          name="password2"
          placeholder="Repite Contraseña"
          [(ngModel)]="passRep"
          #pass2Model="ngModel"
          pattern="{{ passwordModel.value }}"
          [ngClass]="validClasses(pass2Model, 'is-valid', 'is-invalid')"
          [required]="nuevoUsuario"
        />
        <div class="invalid-feedback" *ngIf="pass2Model.errors?.['required']">
          La contraseña es obligatoria.
        </div>
        <div class="invalid-feedback" *ngIf="pass2Model.errors?.['pattern']">
          Esta contraseña debe coincidir con la anterior.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="mb-3 col">
        <label for="lat" class="form-label">Latitud:</label>
        <div>
          <input
            type="number"
            class="form-control"
            name="lat"
            placeholder="Latitud"
            [(ngModel)]="user.latitude"
            #latModel="ngModel"
            [ngClass]="validClasses(latModel, 'is-valid', 'is-invalid')"
            required
          />
          <div class="invalid-feedback" >
            La latitud es obligatoria.
          </div>
        </div>
      </div>
      <div class="mb-3 col">
        <label for="lng" class="form-label">Longitud:</label>
        <div>
          <input
            type="number"
            class="form-control"
            name="lng"
            placeholder="Longitud"
            [(ngModel)]="user.longitude"
            #lngModel="ngModel"
            [ngClass]="validClasses(lngModel, 'is-valid', 'is-invalid')"
            required
          />
          <div class="invalid-feedback">
            La longitud es obligatoria.
          </div>
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="role" class="form-label">Rol</label>
      <div>
        <select
          name="role" id="role"
          class="form-select"
          #roleModel="ngModel"
          [(ngModel)]="user.role"
          [ngClass]="validClasses(roleModel, 'is-valid', 'is-invalid')"
        >
          <option value="undefined" disabled selected hidden>Selecciona un rol</option>
          <option value="admin">Administrador</option>
          <option value="user">Usuario</option>
        </select>
      </div>
    </div>
    <div class="mb-3">
      <label for="activated" class="form-label">Activado</label>
      <div>
        <select
          name="activated" id="activated"
          class="form-select"
          #activatedModel="ngModel"
          [(ngModel)]="user.activated"
          [ngClass]="validClasses(activatedModel, 'is-valid', 'is-invalid')"
        >
          <option value="undefined" disabled selected hidden>¿Activado?</option>
          <option value=1>Activado</option>
          <option value=0>Desactivado</option>
        </select>
      </div>
    </div>
    <!-- <div class="mb-3">
      <label for="image">Avatar</label>
      <div>
        <input
          type="file"
          (change)="loadImage($event)"
          class="form-control"
          name="avatar"
          (ngModel)="newUser.avatar"
          #avatarModel="ngModel"
          [ngClass]="validClasses(avatarModel, 'is-valid', 'is-invalid')"
        />
      </div>
    </div>
    <img src="{{stringAvatar}}" alt="" #imgPreview class="img-thumbnail d-none" /> -->

    <p class="text-danger" id="errorInfo"></p>

    <!-- <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Create account</button> -->

    <div>
      <a class="btn btn-secondary me-2 px-5" [routerLink]="['/admin/usuarios']" role="button">
        Volver
      </a>
      <button
        *ngIf="!user.id"
        class="btn btn-primary px-5"
        (click)="setUser()"
        [disabled]="userForm.invalid"
        >Crear
      </button>
      <button
        *ngIf="user.id"
        class="btn btn-primary px-5"
        (click)="editUser()"
        [disabled]="userForm.invalid || userForm.pristine"
        >Editar
      </button>

    </div>

  </form>
</div>

