<div class="container">
  <form class="mt-4 p-4" #userForm="ngForm">

    <h4 *ngIf="!user.id">Nuevo Usuario</h4>
    <h4 *ngIf="user.id">Editar Usuario</h4>
    <hr class="mt-0">

    <div class="mb-3">
      <label for="nombre" class="form-label">Nombre:</label>
      <div>
        <input
          type="text"
          class="form-control"
          name="nombre"
          placeholder="Nombre"
          [(ngModel)]="user.name"
          #nameModel="ngModel"
          pattern="[A-Za-z][A-Za-z\s]*"
          [ngClass]="validClasses(nameModel, 'is-valid', 'is-invalid')"
          required
        />
        <div class="invalid-feedback" *ngIf="nameModel.errors?.['required']">
          El nombre es obligatorio.
        </div>
        <div class="invalid-feedback" *ngIf="nameModel.errors?.['pattern']">
          El nombre debe incluir sólo letras y espacios.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <div>
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="Email"
          [(ngModel)]="user.email"
          #emailModel="ngModel"
          pattern="^\S+@\S+\.\S+$"
          [ngClass]="validClasses(emailModel, 'is-valid', 'is-invalid')"
          required
        />
        <div class="invalid-feedback" *ngIf="emailModel.errors?.['required']">
          El email es obligatorio.
        </div>
        <div class="invalid-feedback" *ngIf="emailModel.errors?.['pattern']">
          El email debe tener un formato válido.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Contraseña:</label>
      <div>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Contraseña"
          [(ngModel)]="user.password"
          #passwordModel="ngModel"
          minlength="6"
          [ngClass]="validClasses(passwordModel, 'is-valid', 'is-invalid')"
          [required]="nuevoUsuario"
        />
        <div class="invalid-feedback" *ngIf="passwordModel.errors?.['required']">
          La contraseña es obligatoria.
        </div>
        <div class="invalid-feedback" *ngIf="passwordModel.errors?.['minlength']">
          La contraseña debe contener al menos 6 caracteres.
        </div>
      </div>
    </div>
    <!-- <div class="mb-3">
      <label for="password" class="form-label">Repite Contraseña:</label>
      <div>
        <input
          type="password"
          class="form-control"
          name="password2"
          placeholder="Repite Contraseña"
          [(ngModel)]="passRep"
          #pass2Model="ngModel"
          pattern="{{ passwordModel.value }}"
          [ngClass]="validClasses(pass2Model, 'is-valid', 'is-invalid')"
          [required]="nuevoUsuario"
        />
        <div class="invalid-feedback" *ngIf="pass2Model.errors?.['required']">
          La contraseña es obligatoria.
        </div>
        <div class="invalid-feedback" *ngIf="pass2Model.errors?.['pattern']">
          Esta contraseña debe coincidir con la anterior.
        </div>
      </div>
    </div> -->
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="lat" class="form-label">Latitud:</label>
        <div>
          <input
            type="number"
            class="form-control"
            name="lat"
            placeholder="Latitud"
            [(ngModel)]="user.latitude"
            #latModel="ngModel"
            [ngClass]="validClasses(latModel, 'is-valid', 'is-invalid')"
            required
          />
          <div class="invalid-feedback" >
            La latitud es obligatoria.
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="lng" class="form-label">Longitud:</label>
        <div>
          <input
            type="number"
            class="form-control"
            name="lng"
            placeholder="Longitud"
            [(ngModel)]="user.longitude"
            #lngModel="ngModel"
            [ngClass]="validClasses(lngModel, 'is-valid', 'is-invalid')"
            required
          />
          <div class="invalid-feedback">
            La longitud es obligatoria.
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="role" class="form-label">Rol</label>
        <div>
          <select
            name="role" id="role"
            class="form-select"
            #roleModel="ngModel"
            [(ngModel)]="user.role"
            [ngClass]="validClasses(roleModel, 'is-valid', 'is-invalid')"
          >
            <option value="undefined" disabled selected hidden>- Seleccionar -</option>
            <option value="admin">Administrador</option>
            <option value="user">Usuario</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <label for="activated" class="form-label">Estado</label>
        <div>
          <select
            name="activated" id="activated"
            class="form-select"
            #activatedModel="ngModel"
            [(ngModel)]="user.activated"
            [ngClass]="validClasses(activatedModel, 'is-valid', 'is-invalid')"
          >
            <option value="undefined" disabled selected hidden>- Seleccionar -</option>
            <option value=true>Activado</option>
            <option value=false>Desactivado</option>
          </select>
        </div>
      </div>
    </div>
    <!-- <div class="mb-3">
      <label for="image">Avatar</label>
      <div>
        <input
          type="file"
          (change)="loadImage($event)"
          class="form-control"
          name="avatar"
          (ngModel)="newUser.avatar"
          #avatarModel="ngModel"
          [ngClass]="validClasses(avatarModel, 'is-valid', 'is-invalid')"
        />
      </div>
    </div>
    <img src="{{stringAvatar}}" alt="" #imgPreview class="img-thumbnail d-none" /> -->

    <!-- <div class="form-group" (change)="loadImage($event)">
      <input type="file" class="form-control" name="image"  />
    </div>
    <div class="row">
      <div class="col w-50">
        <img class="w-100" id="photo" src="http://api.sportnow.local/{{user.avatar}}" alt="" />
      </div>
      <div class="col w-50">
        <img class="d-none w-100" name="imgPreview" #imgPreview src="{{newAvatar}}" alt="" />
      </div>
    </div> -->
    <!-- <p class="text-danger" id="errorInfo2"></p>
    <p class="text-success" id="okInfo2"></p> -->




    <div class="d-flex">
      <!-- <a class="btn btn-secondary me-2 px-5" [routerLink]="['/admin/usuarios']" role="button">
        Volver
      </a> -->
      <button *ngIf="!user.id" class="btn btn-primary px-5" (click)="setUser()" [disabled]="userForm.invalid">
        Crear
      </button>
      <button *ngIf="user.id" class="btn btn-primary px-5" (click)="editUser()" [disabled]="userForm.invalid || userForm.pristine">
        Editar
      </button>
      <button *ngIf="user.id" class="btn btn-danger px-5 ms-auto" (confirm)="deleteUser()"
        [swal]="{
          title: '¿Estás seguro?',
          text: 'El usuario se eliminará de la base de datos.',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonText: 'Sí',
          cancelButtonText: 'No'
        }">
        Eliminar
      </button>
    </div>

  </form>
</div>

