
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/inicio']">{{ title }}</a>
    <ul class="navbar-nav me-auto mb-lg-0" *ngIf="logged">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/inicio']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          >Inicio
      </a>
      </li>
      <!-- <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/sports/add']"
          [routerLinkActive]="['active']"
          >Create sport
        </a>
      </li> -->
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/actividades']"
          [routerLinkActive]="['active']"
          >Actividades
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/usuarios/me']"
          [routerLinkActive]="['active']"
          >Perfil
        </a>
      </li>
      <li class="nav-item">
        <button
          class="nav-link bg-transparent btn shadow-none border-0"
          (click)="logout()"
          >Logout
        </button>
      </li>
      <li class="nav-item" *ngIf="isAdmin">
        <a
          class="nav-link"
          [routerLink]="['/admin/usuarios']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          >Admin
      </a>
      </li>
    </ul>
    <ul class="navbar-nav me-auto mb-lg-0" *ngIf="!logged">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/auth/login']"
          [routerLinkActive]="['active']"
          >Login
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/auth/register']"
          [routerLinkActive]="['active']"
          >Registro
        </a>
      </li>
    </ul>
  </div>
</nav>

