<!-- TODO: style="background-color: #e3f2fd;" -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand" [routerLink]="['/inicio']">SportNow</a>


    <ul class="navbar-nav me-auto mb-lg-0 h5" *ngIf="logged">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/inicio']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          >Inicio
      </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/actividades']"
          [routerLinkActive]="['active']"
          >Actividades
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/contacto']"
          [routerLinkActive]="['active']"
          >Contacto
        </a>
      </li>
    </ul>
      <!-- <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/usuarios/me']"
          [routerLinkActive]="['active']"
          >Perfil
        </a>
      </li>
      <li class="nav-item">
        <button
          class="nav-link bg-transparent btn shadow-none border-0"
          (click)="logout()"
          >Logout
        </button>
      </li> -->

      <!-- <li class="nav-item" *ngIf="isAdmin">
        <a
          class="nav-link"
          [routerLink]="['/admin/usuarios']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          >Admin
      </a>
      </li> -->

    <button *ngIf="logged && isAdmin" [routerLink]="['/admin/usuarios']" type="button" class="btn btn-light me-5">
      Panel Administración
    </button>

    <div class="nav-item dropdown me-4" *ngIf="logged">
      <!-- <span class="navbar-text">
        Hola, User
      </span> -->
      <a
        class="nav-link dropdown-toggle d-flex align-items-center"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
          class="rounded-circle"
          height="50"
          alt="Portrait of a Woman"
          loading="lazy"
        />
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li>
          <a class="dropdown-item" [routerLink]="['/usuarios/me']">Mi Perfil</a>
        </li>
        <li>
          <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>


    <ul class="navbar-nav me-auto mb-lg-0 h5" *ngIf="!logged">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/auth/login']"
          [routerLinkActive]="['active']"
          >Login
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/auth/register']"
          [routerLinkActive]="['active']"
          >Registro
        </a>
      </li>
    </ul>

  </div>
</nav>

