
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="logged">
  <div class="container-fluid">

    <div class="navbar-brand ms-2" style="align-content: center;text-align: center;">
      <img src="assets/logo2.png" [routerLink]="['/inicio']" height="40" alt="Logo SportNow">
    </div>

    <ul class="navbar-nav ms-4 me-auto mb-lg-0 h4">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/inicio']"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{exact: true}"
          >Inicio
      </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/actividades']"
          [routerLinkActive]="['active']"
          >Actividades
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/contacto']"
          [routerLinkActive]="['active']"
          >Contacto
        </a>
      </li>
    </ul>

    <button *ngIf="isAdmin" [routerLink]="['/admin']" type="button" class="btn btn-light me-5">
      Panel Administración
    </button>

    <div class="nav-item dropdown me-4 d-flex">
      <!-- <div class="d-flex nav-link dropdown-toggle align-items-center py-0" href="#"
      id="navbarDropdownMenuLink"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"> -->
      <a
        class="nav-link dropdown-toggle d-flex align-items-center py-0"
        href="#"
        id="navbarDropdownMenuLink"
        role="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="{{user.avatar}}"
          class="rounded-circle"
          height="60"
          alt="Avatar Usuario"
        />
      </a>
      <!-- {{user.name}} -->
    <!-- </div> -->

      <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <li>
          <a class="dropdown-item" [routerLink]="['/usuarios/me']">Mi Perfil</a>
        </li>
        <li>
          <a class="dropdown-item" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
    </div>

  </div>
</nav>

