
<div class="d-flex justify-content-center mt-4">
  <div style="width: 80%;">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="detalles-tab" data-bs-toggle="tab" href="#detalles" role="tab" aria-controls="detalles" aria-selected="true">
          Detalles
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="participantes-tab" data-bs-toggle="tab" href="#participantes" role="tab" aria-controls="participantes" aria-selected="false">
          Participantes
          <span class="badge bg-primary">{{actividad.participantes.length}}</span>

        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="comentarios-tab" data-bs-toggle="tab" href="#comentarios" role="tab" aria-controls="comentarios" aria-selected="false">
          Comentarios
          <span class="badge bg-primary">{{actividad.comentarios.length}}</span>
        </a>
      </li>
    </ul>


    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="detalles" role="tabpanel" aria-labelledby="detalles-tab">


        <div class="card shadow">
          <!-- <a [routerLink]="['/events', event.id]">
            <img class="card-img-top" src="{{event.image}}" />
          </a> -->
          <div class="card-body">

            <!-- <h4 class="card-title text-primary">
              {{actividad.titulo}}
            </h4>
            <p class="card-text">{{actividad.descripcion}}</p> -->



            <div class="row">
              <div class="col-md-3">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgUNaoFwOOa3sOnMoc8CVUJ65bhS822etxVQ&usqp=CAU" alt="Imagen evento">
              </div>
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">{{actividad.titulo}}</h5>
                  <p class="card-text">{{actividad.deporte.nombre}}</p>
                  <p class="card-text">{{actividad.fecha | date:'dd/MM/y H:mm'}}</p>
                  <p class="card-text">{{actividad.direccion}} ({{actividad.distancia | number: '1.2-2'}} km)</p>
                  <p class="card-text">{{actividad.descripcion}}</p>
                  <p class="card-text">{{actividad.distancia | number: '1.2-2'}} km</p>
                </div>
              </div>
            </div>


            <div class="row">
              <button class="btn btn-success" *ngIf="!actividad.participo" (click)="participacion()">
                Apuntarme
              </button>
              <button class="btn btn-danger" *ngIf="actividad.participo" (click)="participacion()">
                Desapuntarme
              </button>
            </div>

          </div>
          <!-- <div class="card-footer text-muted row m-0">
            <div class="avatar col-auto pl-1 pr-1">
              <a [routerLink]="['/users', event.creator!.id]">
                <img src="{{event.creator!.avatar}}" class="rounded-circle" />
               </a>
            </div>
            <div class="col">
              <div class="name">
                <a [routerLink]="['/users', event.creator!.id]" class="text-decoration-none">
                  {{event.creator!.name}}
                </a>
                <div><small class="text-muted">{{event.date | date:'dd/MM/y H:mm'}}</small></div>
              </div>
            </div>
            <div class="col-auto text-end text-muted">
              <div><small>{{event.price | currency:'EUR':'symbol'}}</small></div>
              <div><small>{{event.distance | number: '1.2-2'}} km</small></div>
            </div>
          </div> -->

          <div class="card mt-2">
            <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'" [zoom]="[zoom]" [center]="[actividad.longitud, actividad.latitud]">
              <mgl-marker [lngLat]="[actividad.longitud, actividad.latitud]"></mgl-marker>
            </mgl-map>
          </div>

        </div>







      </div>


      <div class="tab-pane fade" id="participantes" role="tabpanel" aria-labelledby="participantes-tab">
        <li class="list-group-item active">
          Participantes ({{actividad.participantes.length}}<span *ngIf="actividad.deporte.max_participantes">/{{actividad.deporte.max_participantes}}</span>)
        </li>
        <li class="list-group-item" *ngFor="let participante of actividad.participantes">
          <a [routerLink]="['/usuarios', participante.user_id]">
            <img class="rounded-circle float-start me-3" style="width: 40px;" src="{{participante.usuario.avatar}}" alt="" />
          </a>
          <div>
            <div><a class="text-decoration-none" [routerLink]="['/usuarios', participante.user_id]">{{participante.usuario.name}}</a></div>
            <div>
              <small>¿PASAR ESTO A DERECHA? Apuntado a las {{participante.created_at | date:'H:mm dd/MM/y'}}</small>
            </div>
          </div>
        </li>
      </div>


      <div class="tab-pane fade" id="comentarios" role="tabpanel" aria-labelledby="comentarios-tab">
          <ul class="list-group mb-4">
            <li class="list-group-item active">Comentarios ({{actividad.comentarios.length}})</li>
            <li class="list-group-item" *ngFor="let comentario of actividad.comentarios">
              <div class="row">
                <div class="col-auto text-center user-info">
                  <a [routerLink]="['/usuarios', comentario.user_id]">
                    <img class="avatar rounded-circle" style="width: 60px;" src="{{comentario.autor.avatar}}" />
                  </a>
                  <div>
                    <small><a [routerLink]="['/usuarios', comentario.user_id]" class="text-decoration-none">{{comentario.autor.name}}</a></small>
                  </div>
                  <div><small>{{comentario.created_at | date:'dd/MM/y H:mm'}}</small></div>
                </div>
                <div id="text" class="col"
                [innerText]=comentario.mensaje>
                </div>
              </div>
            </li>
          </ul>
          <!-- TODO: hacer que solo puedan postear participantes? *ngIf="event.attend" -->
          <!-- TODO: poner comentario propio a la izquierda? -->
          <form (ngSubmit)="postComment()">
            <span class="list-group-item active">Nuevo comentario:</span>
            <textarea
              class="form-control"
              name="comment"
              [(ngModel)]="nuevoComentario"
              required
              rows="4"
            ></textarea>
            <button type="submit" class="btn btn-primary float-end mt-1">Enviar</button>
          </form>
      </div>

    </div>
  </div>
</div>



