mgl-map {
  height: 400px;
  width: 100%;
}

.card {
  width: 100%;
  /* height: 100%; */
  /* min-height: 300px; */
}

.card img {
  width: 100%;
  /* max-width: 200px; */
  max-width: 350px;

}

.btn-apuntar {
  padding: 0 12px;
  /* margin-top: auto !important; */
}

.btn {
  font-size: 18px !important;
}

/* .card .btn {
  width: 140px !important;
} */

#detalles p {
  font-size: 18px;
}

#comentarios .btn {
  width: 150px !important;
}

.white {
  background-color: white !important;
}

