
<div class="d-flex justify-content-center mt-4">
  <div style="width: 80%;">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="detalles-tab" data-bs-toggle="tab" href="#detalles" role="tab" aria-controls="detalles" aria-selected="true">
          Detalles
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="participantes-tab" data-bs-toggle="tab" href="#participantes" role="tab" aria-controls="participantes" aria-selected="false">
          Participantes
          <span class="badge bg-primary">{{evento.participantes.length}}</span>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="comentarios-tab" data-bs-toggle="tab" href="#comentarios" role="tab" aria-controls="comentarios" aria-selected="false">
          Comentarios
          <span class="badge bg-primary">{{evento.comentarios.length}}</span>
        </a>
      </li>
    </ul>


    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="detalles" role="tabpanel" aria-labelledby="detalles-tab">




      </div>


      <div class="tab-pane fade" id="participantes" role="tabpanel" aria-labelledby="participantes-tab">
        <li class="list-group-item active">
          Participantes ({{evento.participantes.length}}<span *ngIf="evento.deporte.max_participantes">/{{evento.deporte.max_participantes}}</span>)
        </li>
        <li class="list-group-item" *ngFor="let participante of evento.participantes">
          <a [routerLink]="['/users', participante.user_id]">
            <img class="rounded-circle float-start me-3" style="width: 40px;" src="{{participante.usuario.avatar}}" alt="" />
          </a>
          <div>
            <div><a class="text-decoration-none" [routerLink]="['/users', participante.user_id]">{{participante.usuario.name}}</a></div>
            <div>
              <small>¿PASAR ESTO A DERECHA? Apuntado a las {{participante.created_at | date:'H:mm dd/MM/y'}}</small>
            </div>
          </div>
        </li>
      </div>


      <div class="tab-pane fade" id="comentarios" role="tabpanel" aria-labelledby="comentarios-tab">
          <ul class="list-group mb-4">
            <li class="list-group-item active">Comentarios ({{evento.comentarios.length}})</li>
            <li class="list-group-item" *ngFor="let comentario of evento.comentarios">
              <div class="row">
                <div class="col-auto text-center user-info">
                  <a [routerLink]="['/users', comentario.user_id]">
                    <img class="avatar rounded-circle" style="width: 60px;" src="{{comentario.autor.avatar}}" />
                  </a>
                  <div>
                    <small><a [routerLink]="['/users', comentario.user_id]" class="text-decoration-none">{{comentario.autor.name}}</a></small>
                  </div>
                  <div><small>{{comentario.created_at | date:'dd/MM/y H:mm'}}</small></div>
                </div>
                <div id="text" class="col"
                [innerText]=comentario.mensaje>
                </div>
              </div>
            </li>
          </ul>
          <!-- TODO: hacer que solo puedan postear participantes? *ngIf="event.attend" -->
          <!-- TODO: poner comentario propio a la izquierda? -->
          <form (ngSubmit)="postComment()">
            <span class="list-group-item active">Nuevo comentario:</span>
            <textarea
              class="form-control"
              name="comment"
              [(ngModel)]="nuevoComentario"
              required
              rows="4"
            ></textarea>
            <button type="submit" class="btn btn-primary float-end mt-1">Enviar</button>
          </form>
      </div>

    </div>
  </div>
</div>



