mgl-map {
  height: 400px;
  width: 100%;
}

.card {
  width: 100%;
}

.card img {
  width: 100%;
  max-width: 350px;
}

.btn-apuntar {
  padding: 0 12px;
}

.btn {
  font-size: 18px !important;
}

#detalles p {
  font-size: 18px;
}

#comentarios .btn {
  width: 150px !important;
}

.white {
  background-color: white !important;
}

