
<div class="d-flex justify-content-center mt-4 pb-3">
  <div style="width: 80%;">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="detalles-tab" data-bs-toggle="tab" href="#detalles" role="tab" aria-controls="detalles" aria-selected="true">
          Detalles
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="participantes-tab" data-bs-toggle="tab" href="#participantes" role="tab" aria-controls="participantes" aria-selected="false">
          Participantes
          <span class="badge bg-primary">{{actividad.participantes.length}}</span>
        </a>
      </li>
      <li class="nav-item" role="presentation" *ngIf="actividad.participo">
        <a class="nav-link" id="comentarios-tab" data-bs-toggle="tab" href="#comentarios" role="tab" aria-controls="comentarios" aria-selected="false">
          Comentarios
          <span class="badge bg-primary">{{actividad.comentarios.length}}</span>
        </a>
      </li>
    </ul>


    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="detalles" role="tabpanel" aria-labelledby="detalles-tab">
        <div class="card shadow">

          <div class="card-body">
            <div class="row">
              <div class="col-md-3 mb-2" >
                <img src="{{actividad.deporte.imagen}}" alt="Imagen Deporte">
              </div>
              <div class="col-md-9 d-flex flex-column">
                <div class="card-body">
                    <h4 class="card-title mb-3">{{actividad.deporte.nombre}}
                      ({{actividad.participantes.length}}<span *ngIf="actividad.deporte.max_participantes">/{{actividad.deporte.max_participantes}}</span>)
                    </h4>
                    <hr>
                    <p class="card-text"><b>Fecha:</b> {{actividad.fecha | date:'H:mm dd/MM/y'}}</p>
                    <p class="card-text"><b>Título:</b> {{actividad.titulo}}</p>
                    <p class="card-text"><b>Descripción:</b> {{actividad.descripcion}}</p>
                    <p class="card-text"><b>Dirección:</b> {{actividad.direccion}} (Distancia: {{actividad.distancia | number: '1.2-2'}} km)</p>
                </div>
                <div class="row btn-apuntar mt-auto mb-2">
                  <button class="btn btn-success" *ngIf="!actividad.participo" [disabled]="actividad.lleno || actividad.pasado" (click)="participacion()">
                    Apuntarme
                  </button>
                  <button class="btn btn-danger" *ngIf="actividad.participo" [disabled]="actividad.pasado" (click)="participacion()">
                    Desapuntarme
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
            <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'" [zoom]="[zoom]" [center]="[actividad.longitud, actividad.latitud]">
              <mgl-marker [lngLat]="[actividad.longitud, actividad.latitud]"></mgl-marker>
            </mgl-map>
          </div>

        </div>
      </div>


      <div class="tab-pane fade" id="participantes" role="tabpanel" aria-labelledby="participantes-tab">
        <li class="list-group-item active ">
          <h5 class="mb-0">Participantes ({{actividad.participantes.length}}<span *ngIf="actividad.deporte.max_participantes">/{{actividad.deporte.max_participantes}}</span>)</h5>
        </li>
        <li class="list-group-item white d-flex align-items-center" *ngFor="let participante of actividad.participantes" style="height: 100px;">
          <a [routerLink]="['/usuarios', participante.user_id]">
            <img class="rounded-circle float-start me-4" style="width: 80px;" src="{{urlAlmacenamiento}}{{participante.usuario.avatar}}" alt="" />
          </a>
          <div>
            <div><a class="text-decoration-none h5" [routerLink]="['/usuarios', participante.user_id]">{{participante.usuario.name}}</a></div>
            <div>
              <small>Apuntado a las {{participante.created_at | date:'H:mm dd/MM/y'}}</small>
            </div>
          </div>
        </li>
      </div>


      <div class="tab-pane fade" id="comentarios" role="tabpanel" aria-labelledby="comentarios-tab" *ngIf="actividad.participo">
          <ul class="list-group mb-4">
            <li class="list-group-item active h5 mb-0">Comentarios ({{actividad.comentarios.length}})</li>
            <li class="list-group-item white" *ngFor="let comentario of actividad.comentarios">
              <div class="row">
                <div class="col-auto text-center user-info">
                  <a [routerLink]="['/usuarios', comentario.user_id]">
                    <img class="avatar rounded-circle" style="width: 80px;" src="{{urlAlmacenamiento}}{{comentario.autor.avatar}}" />
                  </a>
                  <div>
                    <a [routerLink]="['/usuarios', comentario.user_id]" class="text-decoration-none">{{comentario.autor.name}}</a>
                  </div>
                  <div><small>{{comentario.created_at | date:'dd/MM/y H:mm'}}</small></div>
                </div>
                <div id="text" class="col"
                [innerText]=comentario.mensaje>
                </div>
              </div>
            </li>
          </ul>

          <form (ngSubmit)="postComment()" *ngIf="!actividad.pasado">
            <span class="list-group-item active h5 mb-0">Nuevo comentario:</span>
            <textarea
              class="form-control"
              name="comment"
              [(ngModel)]="nuevoComentario"
              required
              rows="4"
            ></textarea>
            <button type="submit" class="btn btn-primary mt-1">Enviar</button> <!-- float-end -->
          </form>
      </div>

    </div>
  </div>
</div>



