
<div class="d-flex justify-content-center mt-4">
  <div style="width: 80%;">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="detalles-tab" data-bs-toggle="tab" href="#detalles" role="tab" aria-controls="detalles" aria-selected="true">
          Detalles
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="participantes-tab" data-bs-toggle="tab" href="#actividades" role="tab" aria-controls="actividades" aria-selected="false">
          Actividades
          <span class="badge bg-primary">{{eventos.length}}</span>
        </a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="comentarios-tab" data-bs-toggle="tab" href="#historial" role="tab" aria-controls="historial" aria-selected="false">
          Historial
          <span class="badge bg-primary">{{eventosPasados.length}}</span>
        </a>
      </li>
    </ul>


    <div class="tab-content" id="myTabContent">

      <div class="tab-pane fade show active" id="detalles" role="tabpanel" aria-labelledby="detalles-tab">
        <div class="card shadow">
          <div class="card-body">
            <div class="row mt-2">
              <div class="col-md-2">
                  <!-- <img class="w-100" id="avatar" src="https://back-sport-now.herokuapp.com/{{user.avatar}}" alt="Avatar Usuario" /> -->
                <img src="{{user.avatar}}" alt="Avatar Usuario" />
              </div>
              <div class="col-md-10">
                <h3>{{user.name}}</h3>
                <h4 class="mb-4 text-muted">{{user.email}}</h4>
                <div *ngIf="isMe">
                  <a [routerLink]="['/usuarios/edit']" class="btn btn-primary btn-editar">Editar</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-2">
            <mgl-map [style]="'mapbox://styles/mapbox/streets-v11'" [zoom]="[zoom]" [center]="[user.longitude, user.latitude]">
              <mgl-marker [lngLat]="[user.longitude, user.latitude]"></mgl-marker>
            </mgl-map>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="actividades" role="tabpanel" aria-labelledby="actividades-tab">
        <div>
          <div class="list-group-item active h5 mb-0">Próximas Actividades ({{eventos.length}})</div>
          <div *ngIf="eventos.length">
            <app-sport-card *ngFor="let evento of eventos" [evento]="evento"></app-sport-card>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="historial" role="tabpanel" aria-labelledby="historial-tab">
        <div>
          <div class="list-group-item active h5 mb-0">Historial Actividades ({{eventosPasados.length}})</div>
          <div *ngIf="eventosPasados.length">
            <app-sport-card *ngFor="let evento of eventosPasados" [evento]="evento"></app-sport-card>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
