
#miCarousel {
  width: 80% !important;
}

.card {
  text-align: center;
}

.card:hover {
  /* TODO: cambiar color? */
  /* background: #ffe298; */
  background: #c5daf3;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white !important;
}

a:hover {
  text-decoration: underline;
}
