
/* .container {
  background: white;
  margin-bottom: 10px;
  padding: 20px;
} */

#miCarousel {
  width: 85% !important;
}

.card {
  text-align: center;
}

.card:hover {
  background: #c5daf3;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: white !important;
}

a:hover {
  text-decoration: underline;
}
