<div class="container">

  <form class="mt-4" (ngSubmit)="resetPassword()">
    <legend>Reset Contraseña</legend>


    <div class="mb-3">
      <label for="password">Contraseña:</label>
      <div>
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Contraseña"
          [(ngModel)]="password"
          #passwordModel="ngModel"
          minlength="6"
          [ngClass]="validClasses(passwordModel, 'is-valid', 'is-invalid')"
          required
        />
        <div class="invalid-feedback" *ngIf="passwordModel.errors?.['required']">
          La contraseña es obligatoria.
        </div>
        <div class="invalid-feedback" *ngIf="passwordModel.errors?.['minlength']">
          La contraseña debe contener al menos 6 caracteres.
        </div>
      </div>
    </div>
    <div class="mb-3">
      <label for="password">Repite Contraseña:</label>
      <div>
        <input
          type="password"
          class="form-control"
          name="password2"
          placeholder="Repite Contraseña"
          [(ngModel)]="password2"
          #pass2Model="ngModel"
          pattern="{{ passwordModel.value }}"
          [ngClass]="validClasses(pass2Model, 'is-valid', 'is-invalid')"
          required
        />
        <div class="invalid-feedback" *ngIf="pass2Model.errors?.['required']">
          La contraseña es obligatoria.
        </div>
        <div class="invalid-feedback" *ngIf="pass2Model.errors?.['pattern']">
          Esta contraseña debe coincidir con la anterior.
        </div>
      </div>
    </div>

    <p class="text-danger" id="errorInfo"></p>

    <button type="submit" class="btn btn-primary me-2">Confirmar</button>
    <a class="btn btn-secondary" [routerLink]="['/auth/login']" role="button">Login</a>

  </form>
</div>

