<div class="container-fluid">
  <div class="row">
    <div class="col-2 mt-4" id="sticky-sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col mt-4">

      <div class="row mb-4">
        <div class="col-md-6">
          <div class="mat-elevation-z8">
            <div class="d-flex justify-content-between align-items-center list-group-item bg-primary">
              <h5 class="text-white mb-0">Deportes con más actividades</h5>
            </div>
            <table mat-table [dataSource]="dataSourceDeportes" class="w-100">

              <ng-container matColumnDef="deporte.nombre">
                <th mat-header-cell *matHeaderCellDef> Deporte </th>
                <td mat-cell *matCellDef="let element"> {{element.deporte.nombre}} </td>
              </ng-container>

              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total Actividades </th>
                <td mat-cell *matCellDef="let element"> {{element.total}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnasDeportes"></tr>
              <tr mat-row *matRowDef="let row; columns: columnasDeportes;"></tr>
              <!-- (click)="irDetallesDeporte(row)" -->
            </table>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mat-elevation-z8">
            <div class="d-flex justify-content-between align-items-center list-group-item bg-primary">
              <h5 class="text-white mb-0">Usuarios más activos</h5>
            </div>
            <table mat-table [dataSource]="dataSourceUsuarios" class="mat-elevation-z8 w-100">

              <ng-container matColumnDef="usuario.name">
                <th mat-header-cell *matHeaderCellDef> Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.usuario.name }} </td>
              </ng-container>

              <ng-container matColumnDef="total">
                <th mat-header-cell *matHeaderCellDef> Total </th>
                <td mat-cell *matCellDef="let element"> {{element.total}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnasUsuarios"></tr>
              <tr mat-row *matRowDef="let row; columns: columnasUsuarios;"></tr>
              <!-- (click)="irDetallesUsuario(row)" -->
            </table>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-6">
          <div class="mat-elevation-z8">
            <div class="d-flex justify-content-between align-items-center list-group-item bg-primary">
              <h5 class="text-white mb-0">Últimos mensajes recibidos</h5>
            </div>
            <table mat-table [dataSource]="dataSourceContactos" class="mat-elevation-z8 w-100">

              <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.created_at | date:'dd/MM/y H:mm'}} </td>
              </ng-container>

              <ng-container matColumnDef="asunto">
                <th mat-header-cell *matHeaderCellDef> Asunto </th>
                <td mat-cell *matCellDef="let element"> {{element.asunto}} </td>
              </ng-container>

              <ng-container matColumnDef="autor.name">
                <th mat-header-cell *matHeaderCellDef> Usuario </th>
                <td mat-cell *matCellDef="let element"> {{element.autor.name}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnasContactos"></tr>
              <tr mat-row *matRowDef="let row; columns: columnasContactos;"></tr>
              <!-- (click)="irDetallesContacto(row)" -->
            </table>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mat-elevation-z8">
            <div class="d-flex justify-content-between align-items-center list-group-item bg-primary">
              <h5 class="text-white mb-0">Últimas actividades creadas</h5>
            </div>
            <table mat-table [dataSource]="dataSourceActividades" class="mat-elevation-z8 w-100">

              <ng-container matColumnDef="created_at">
                <th mat-header-cell *matHeaderCellDef> Fecha </th>
                <td mat-cell *matCellDef="let element"> {{element.created_at | date:'dd/MM/y H:mm'}} </td>
              </ng-container>

              <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef> Título </th>
                <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
              </ng-container>

              <ng-container matColumnDef="deporte.nombre">
                <th mat-header-cell *matHeaderCellDef> Deporte </th>
                <td mat-cell *matCellDef="let element"> {{element.deporte.nombre}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnasActividades"></tr>
              <tr mat-row *matRowDef="let row; columns: columnasActividades;"></tr>
              <!-- (click)="irDetallesActividad(row)" -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
