<div class="container">


  <form class="mt-4" (ngSubmit)="requestReset()">
    <legend>Reseteo Password</legend>

    <div class="mb-3">
      <label for="correo">Email:</label>
      <input
        type="email"
        class="form-control"
        name="email"
        placeholder="Email"
        [(ngModel)]="email"
        required
      />
    </div>
    <p class="text-danger" id="errorInfo"></p>

    <div class="d-flex">
      <button type="submit" class="btn btn-primary me-2">Enviar</button>
      <a class="btn btn-secondary" [routerLink]="['/auth/login']" role="button">Login</a>
    </div>
  </form>



</div>


