<div class="container-fluid pb-2">
  <div class="row">
    <div class="col-2 mt-4" id="sticky-sidebar">
      <app-sidebar></app-sidebar>
    </div>

    <div class="col mt-4">

      <div class="card mb-4 mat-elevation-z8">
        <div class="card-header text-white bg-primary d-flex align-items-center">
          <h5 class="mb-0 me-auto">Filtrado de Contactos</h5>
          <button class="btn btn-light me-2 btn-filtros" (click)="reiniciar()">
            Reiniciar
          </button>
          <button class="btn btn-light btn-filtros" (click)="filtrar()">
            Filtrar
          </button>
        </div>

        <div class="card-body bg-white">
          <div class="row">
            <div class="col-md-3">
              <label for="autor" class="form-label">Autor</label>
              <input
                type="text"
                class="form-control"
                name="autor"
                [(ngModel)]="filtro.autor"
                placeholder="Introduce un nombre"
              >
            </div>
            <div class="col-md-3">
              <label for="motivo" class="form-label">Motivo</label>
              <select
                name="motivo" id="motivo"
                class="form-select"
                [(ngModel)]="filtro.motivo"
              >
                <option value="null" disabled selected hidden> - Seleccionar -</option>
                <option value="Actividades">Actividades</option>
                <option value="Noticias">Sugerir noticia</option>
                <option value="Propuestas">Propuestas</option>
                <option value="Quejas">Quejas</option>
                <option value="Usuarios">Usuarios</option>
                <option value="Otros">Otros</option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="fecha_inicio" class="form-label">Fecha Inicio</label>
              <div>
                <input
                  type="date"
                  class="form-control"
                  name="fecha_inicio"
                  [(ngModel)]="filtro.fecha_inicio"
                >
              </div>
            </div>
            <div class="col-md-3">
              <label for="fecha_fin" class="form-label">Fecha Fin</label>
              <div>
                <input
                  type="date"
                  class="form-control"
                  name="fecha_fin"
                  [(ngModel)]="filtro.fecha_fin"
                >
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="mat-elevation-z8">
        <div class="d-flex justify-content-between align-items-center list-group-item bg-primary">
          <h5 class="text-white mb-0">Listado de Contactos</h5>
        </div>
        <table mat-table [dataSource]="dataSource" matSort class="w-100">

          <ng-container matColumnDef="created_at">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </th>
            <td mat-cell *matCellDef="let element"> {{element.created_at | date:'dd/MM/y H:mm'}} </td>
          </ng-container>

          <ng-container matColumnDef="autor.name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
            <td mat-cell *matCellDef="let element"> {{element.autor.name}} </td>
          </ng-container>

          <ng-container matColumnDef="asunto">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Asunto </th>
            <td mat-cell *matCellDef="let element"> {{element.asunto}} </td>
          </ng-container>

          <ng-container matColumnDef="motivo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Motivo </th>
            <td mat-cell *matCellDef="let element"> {{element.motivo}} </td>
          </ng-container>

          <ng-container matColumnDef="autor.email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.autor.email}} </td>
          </ng-container>

          <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Teléfono </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnas"></tr>
          <tr mat-row *matRowDef="let row; columns: columnas;" (click)="irDetalles(row)"></tr>
        </table>
      </div>

    </div>
  </div>
</div>
