/* You can add global styles to this file, and also import other style files */


html, body {
  height: 100%;
  font-size: 1em;
  background: #EBEDF2;
}

body {
  margin: 0;
}


.list-group-item, .card-header {
  background: #2975d1 !important;
}

.btn-filtros {
  width: 150px !important;
  margin-left: 5px;
}

.btn-primary {
  background: #2975d1 !important;
}

.btn-primary:hover {
  background: #1b4d89 !important;
}



/* Panel Admin */
.mat-header-cell {
  font-size: 16px;
}

.mat-cell {
  font-size: 15px;
}

.mat-row:hover {
  background: #c5daf3;
  cursor: pointer;
}

.btn-nuevo {
  width: 300px !important;
}


/* Toastr */
.toast-container {
  font-size: 15px;
}

.toast-info, .toast-error, .toast-success, .toast-warning {
  background-image: none !important;
  padding: 15px 15px 15px 15px !important;
  text-align: center !important;
}


/* Mapbox */
.mapboxgl-ctrl-geocoder {
  min-width: 500px !important;
}
