/* You can add global styles to this file, and also import other style files */


html, body {
  height: 100%;
  font-size: 1em;
  background-color: #EBEDF2; /*TODO cambiar a otro color clarito*/
}

body {
  margin: 0;
  /* font-family: Roboto, "Helvetica Neue", sans-serif; */

}

/* p {
  font-size: 1rem;
 }

 h1 {
  font-size: 2.5rem;
 }

 h2 {
  font-size: 2rem;
 }

 h3 {
  font-size: 1.5rem;
 } */


/* Panel Admin */
.mat-header-cell {
  /* TODO: cambiar color header tablas */
  background: rgb(197, 197, 197);
}

.mat-row:hover {
  /* TODO: cambiar color */
  background: rgb(204, 204, 204);
  cursor: pointer;
}


/* TODO: mejorar estilo toastr */
.toast-container {
  font-size: 15px;
}

.toast-info, .toast-error, .toast-success, .toast-warning {
  background-image: none !important;
  padding: 15px 15px 15px 15px !important;
  text-align: center !important;
}




.mapboxgl-ctrl-geocoder {
  min-width: 500px !important;

  /* width: 500px !important; */
}

  /* .geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
    }

  .mapboxgl-ctrl-geocoder {
      width: 300px !important;
  }

  .mapboxgl-ctrl-geocoder--input {
    width: 300px !important;
 } */
