/* You can add global styles to this file, and also import other style files */

.toast-container {
  font-size: 15px;
}

.toast-info, .toast-error, .toast-success, .toast-warning {
  background-image: none !important;
  padding: 15px 15px 15px 15px !important;
  text-align: center !important;
}


.mapboxgl-ctrl-geocoder {
  min-width: 500px !important;

  /* width: 500px !important; */
}

  /* .geocoder {
    position: absolute;
    z-index: 1;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    top: 10px;
    }

  .mapboxgl-ctrl-geocoder {
      width: 300px !important;
  }

  .mapboxgl-ctrl-geocoder--input {
    width: 300px !important;
 } */
