<div class="container pb-4">

  <div class="formulario p-4 mt-4">
    <form #editProfileForm="ngForm" (ngSubmit)="editProfile()">
      <h4 class="">Editar datos</h4>
      <hr class="mt-0">
      <div class="form-group">
        <label for="correo"  class="form-label">Email:</label>
        <div>
          <input
            type="email"
            class="form-control mb-2"
            name="email"
            placeholder="Email"
            [(ngModel)]="user.email"
            required
            #emailModel="ngModel"
            pattern="^\S+@\S+\.\S+$"
            [ngClass]="validClasses(emailModel, 'is-valid', 'is-invalid')"
          />
          <div class="invalid-feedback" *ngIf="emailModel.errors?.['required']">
            El email es obligatorio.
          </div>
          <div class="invalid-feedback" *ngIf="emailModel.errors?.['pattern']">
            El email debe tener un formato correcto.
          </div>
        </div>
        <label for="name"  class="form-label">Nombre:</label>
        <div>
          <input
            type="text"
            class="form-control"
            name="nameUser"
            placeholder="Nombre"
            [(ngModel)]="user.name"
            required
            #nameModel="ngModel"
            pattern="[A-Za-z][A-Za-z\s]*"
            [ngClass]="validClasses(nameModel, 'is-valid', 'is-invalid')"
          />
          <div class="invalid-feedback" *ngIf="nameModel.errors?.['required']">
            El nombre es obligatorio.
          </div>
          <div class="invalid-feedback" *ngIf="nameModel.errors?.['pattern']">
            El nombre sólo puede estar compuesto por letras y espacios.
          </div>
        </div>
      </div>
      <p class="text-danger" id="errorInfo1"></p>
      <p class="text-success" id="okInfo1"></p>
      <button type="submit" class="btn btn-primary">Editar datos</button>
    </form>
  </div>

  <div class="formulario p-4 mt-4">
    <form class="" role="form" id="form-photo" (ngSubmit)="editPhoto()" (change)="loadImage($event)">
      <h4 class="">Editar avatar</h4>
      <hr class="mt-0">
      <div class="form-group">
        <input type="file" class="form-control mb-2" name="image"  />
      </div>
      <div class="row">
        <div class="">
          <img class="" id="photo" src="{{urlAlmacenamiento}}{{user.avatar}}" width=400 alt="Avatar" />
        <!-- </div> -->
        <!-- <div class=""> -->
          <img class="d-none ms-4" name="imgPreview" #imgPreview width=400 src="{{newAvatar}}" alt="" />
        </div>
      </div>
      <p class="text-danger" id="errorInfo2"></p>
      <p class="text-success" id="okInfo2"></p>
      <button type="submit" class="btn btn-primary">Editar avatar</button>
    </form>
  </div>

  <div class="formulario p-4 mt-4">
    <form class="" role="form" #editPasswordForm="ngForm" (ngSubmit)="editPassword()">
      <h4 class="">Editar contraseña</h4>
      <hr class="mt-0">
      <div class="form-group">
        <label for="password"  class="form-label">Contraseña:</label>
        <div>
          <input
            type="password"
            class="form-control mb-2"
            name="password"
            placeholder="Contraseña"
            [(ngModel)]="user.password"
            #passwordModel="ngModel"
            minlength="6"
            [ngClass]="validClasses(passwordModel, 'is-valid', 'is-invalid')"
            required
          />
          <div class="invalid-feedback" *ngIf="passwordModel.errors?.['required']">
            La contraseña es obligatoria.
          </div>
          <div class="invalid-feedback" *ngIf="passwordModel.errors?.['minlength']">
            La contraseña debe ser de al menos 6 caracteres.
          </div>
        </div>
        <label for="password2" class="form-label">Repite contraseña:</label>
        <div>
          <input
            type="password"
            class="form-control"
            name="password2"
            placeholder="Repita contraseña"
            [(ngModel)]="passwpordRep"
            #password2Model="ngModel"
            minlength="4"
            [ngClass]="validClasses(password2Model, 'is-valid', 'is-invalid')"
            pattern="{{ passwordModel.value }}"
            required
          />
          <div class="invalid-feedback" *ngIf="password2Model.errors?.['required']">
            La repetición de la contraseña es obligatorio.
          </div>
          <div class="invalid-feedback" *ngIf="password2Model.errors?.['pattern']">
            Las contraseñas deben coincidir.
          </div>
        </div>
      </div>
      <p class="text-danger" id="errorInfo3"></p>
      <p class="text-success" id="okInfo3"></p>
      <button type="submit" class="btn btn-primary">Editar contraseña</button>
    </form>
  </div>

</div>
